# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Thêm phần này vào cuối file .gitignore

# ---------------------------------------------
# Loai tru code chuc nang da phat trien (De team members commit sau)
# ---------------------------------------------

# Loai tru toan bo cac thu muc chua code chuc nang
lib/models/
lib/screens/
lib/services/

# Bat buoc GIU LAI cac file co ban de du an chay duoc
!lib/main.dart
!lib/test/